{% extends 'base.html' %}
{% load static %}

{% block 'content' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="form-container my-5">
                <h1 class="form-title mb-4">Agregar Inmueble</h1>
                <form method="post" class="custom-form" name="crear_inmueble">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    
                    <div class="row">
                        {% for field in form %}
                          <div class="col-md-6 mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="error-message mt-1">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                          </div>
                        {% endfor %}
                    </div>
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Agregar Inmueble</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}