{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a href="{% url 'lista_inmuebles' %}" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'imagenes/arriendoapp.png' %}" alt="Logo" class="me-2">
        </a>
        <a href="{% url 'lista_inmuebles' %}" class="nav-link">Inicio</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="{{ 'navbarDropdown-'|slugify }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class='dropdown-menu dropdown-menu-end'>
                        <li><a href="{% url 'perfil' %}" class='dropdown-item'>Perfil</a></li>
                        <li>
                            <form method='post' action='{% url "logout"%}'class='d-inline'>
                                {% csrf_token %}
                                <button type='submit'class='dropdown-item'>Cerrar sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Iniciar sesión</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'crear_usuario' %}" class="nav-link">Registrarse</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>