{% extends 'base.html' %}
{% block 'content' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="form-container my-5">
                <h1 class="form-title mb-4">Iniciar sesión</h1>
                <form method="post" class="custom-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="error-message mt-1">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>¿No tienes una cuenta? <a href="{% url 'crear_usuario' %}">Crear usuario</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}